<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">

</head>
<body>
<ul id="nav">
    <li class="nav-li"><a th:href="@{index}">Index</a></li>
    <li class="nav-li"><a th:href="@{contact}">Contact</a></li>
    <li class="nav-li"><a th:href="@{contact-list}">Contact List</a></li>
    <li class="nav-li"><a th:href="@{about}">About</a></li>
    <li class="nav-li"><a th:href="@{fever-start}">Fever check</a></li>
</ul>
<h1>You Are Healthy!</h1>
<p>
The average normal body temperature is generally accepted as 98.6°F (37°C).<br>
Some studies have shown that the "normal" body temperature can have a wide range, from 97°F (36.1°C) to 99°F (37.2°C).<br>
A temperature over 100.4°F (38°C) most often means you have a fever caused by an infection or illness.
</p>
<h2>Go about your day as normal</h2>
</body>
</html>