<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">

</head>
<body>
<ul id="nav">
    <li class="nav-li"><a th:href="@{index}">Index</a></li>
    <li class="nav-li"><a th:href="@{contact}">Contact</a></li>
    <li class="nav-li"><a th:href="@{contact-list}">Contact List</a></li>
    <li class="nav-li"><a th:href="@{about}">About</a></li>
    <li class="nav-li"><a th:href="@{fever-start}">Fever check</a></li>
</ul>
<h1>You Have Hypothermia!</h1>
<p>Hypothermia is a medical emergency that occurs when your body loses heat faster than it can produce heat, causing a dangerously low body temperature.<br>
    Normal body temperature is around 98.6 F (37 C). Hypothermia (hi-poe-THUR-me-uh) occurs as your body temperature falls below 95 F (35 C).<br>
    Symptoms: Confusion
</p>
<h2>Seek help immediately!</h2>
</body>
</html>